<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="Site-Container">
  <div class="Title-container">
    <p>Times - Belsons</p>
  </div>
  <div class="pagination-container">
    <ngb-pagination size="lg" [(page)]="page" [pageSize]="pageSize"
      [collectionSize]="articleService.allArticles.length" />

  </div>
  <div class="cards">

    @for (article of articleService.allArticles| slice: (page-1) * pageSize : page * pageSize; track article) {
    <mat-card class="card" appearance="outlined" flex="15" ng-repeat="article of articleService.allArticles">

      <img class="card-image" mat-card-image src={{article.urlToImage}}>
      <mat-card-header>
        <mat-card-title>
          <h1>
            {{ article.title }}
          </h1>
        </mat-card-title>
        <mat-card-subtitle>{{ article.publishedAt }}</mat-card-subtitle>
      </mat-card-header>
      <p class="card-content">
        {{ article.description }}
      </p>
      <mat-card-actions>
        <a mat-flat-button href={{article.url}} target="_blank">Read More ...</a>
      </mat-card-actions>
    </mat-card>
    }
  </div>

</div>